.product {
    background-color: #ececec;
    padding: 10px;
    overflow: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-title a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.product-price h6 {
    font-size: 25px !important;
}
