.form-input {
    padding: 10px;
    width: 92%;
    font-size: 14px;
    border: darkblue 1px solid;
    margin-bottom: 20px;
}
.form-select {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: darkgray;
    border: darkblue 1px solid;
}